process {
    
    withName:INDEX {
        container = 'bryoinformatics/rna-seq:v1.0.0'
    }

    withName:QUANTIFICATION {
        container = 'bryoinformatics/rna-seq:v1.0.0'
    }

    withName:FASTQC {
        container = 'nextflow/rnaseq-nf'
    }
    
    withName:MULTIQC {
        container = 'nextflow/rnaseq-nf'
    }

    }


docker.runOptions = '-u $(id -u):$(id -g)'

docker.enabled = true
